---
---

@import "{{ site.theme }}";

.inner img.small {
  width: 300px;
  max-width: none;
}

@media screen and (max-width: 992px) {
  .inner img.small {
    width: 300px;
    max-width: none;
  }
}
